*.txt
__pycache__/srp.cpython-311.pyc
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe.lock
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/3gbt199pvm1o1kdrl8v4cy8w0.o
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/04l2o2x56wkt40gnkjtfu9pfh.o
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/4oec1js6aft90itlbz2le180h.o
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/6kgma2vk2g81wqg8ztooyyxh6.o
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/ak14ffbfbxvdnvxu27buze61a.o
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/dep-graph.bin
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/digxfsltumegt28nalv9rtvu6.o
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/query-cache.bin
rust/hello_world/target/debug/incremental/hello_world-2qv7kevmy29gi/s-h8sybwag30-0gimwxe-agqmhlrfquovw4ushlhfc0789/work-products.bin
rust/hello_world/target/debug/deps/hello_world-0268e55f498388c0
rust/hello_world/target/debug/deps/hello_world-0268e55f498388c0.d
rust/hello_world/target/debug/.cargo-lock
rust/hello_world/target/debug/hello_world
rust/hello_world/target/debug/hello_world.d
rust/hello_world/target/debug/.fingerprint/hello_world-0268e55f498388c0/bin-hello_world
rust/hello_world/target/debug/.fingerprint/hello_world-0268e55f498388c0/bin-hello_world.json
rust/hello_world/target/debug/.fingerprint/hello_world-0268e55f498388c0/dep-bin-hello_world
rust/hello_world/target/debug/.fingerprint/hello_world-0268e55f498388c0/invoked.timestamp
rust/hello_world/target/CACHEDIR.TAG
rust/hello_world/target/